body {
    background: url('../images/backgroundChart.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    padding: 5%;
}

.variables {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    width: 30%;
    font-size: 25px;
}

#wordsChart {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}

#articlesChart {
    height: 300px;
    width: 70%;
    float: right;
}
#back{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

#back:hover{
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
#errDiv{

    margin: auto;
    padding-top: 30px;
    color: #F0FFFF;
    font-size: 40px;

}
