@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html{
    background: url('../images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

}

div.form{
    background-color: rgba(0, 0, 0, 0.3);
    position:absolute;
    top:30%;
    right:0;
    left:0;
}

/*p.start{*/
    /*font-size:50px;*/
    /*text-align: center;*/
    /*color:#FFFAFA;*/
    /*font-family:Comic Sans MS;*/
    /*font-style: italic;*/
/*}*/

p.start{
    /*background: #4D4D4D;*/
    background: rgba(76, 70, 70, 0.9);
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 40px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}


/*form {*/
    /*position: relative;*/
    /*width  : 350px;*/
    /*height : 350px;*/
    /*margin : 0 auto;*/
    /*background-color:transparent;*/
/*}*/

.form{
    position:relative;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 700px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

.form input[type = "input"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    /*font: 20px Arial, Helvetica, sans-serif;*/
    font:20px Comic Sans MS;
    height: 60px;
    color: #FFFFFF;

}

.form input[type = "file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form input[type = "submit"],
.form input[type = "file"] + label {
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;

}

.form input[type = "file"] + label:hover{
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

.form input[type="submit"]:hover{
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}