<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->
    <link href="../static/css/chartstyle.css"
          th:href ="@{css/chartstyle.css}" rel="stylesheet" media = "screen"/>
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!--<script src="../static/js/jquery/jquery-3.1.0.min.js.js"
            th:src="@{js/jquery/jquery-3.1.0.min.js}"></script>-->
    <script src="../static/js/chart.js"
            th:src="@{js/chart.js}"></script>
</head>

<body>

    <a href="/"><button id="back">Back</button></a>
    <div th:if="${not #lists.isEmpty(articles)}">

        <div id="wordsChart"></div>
        <div id="articlesChart"></div>
        <div id="source" class="variables"></div><br/>
        <div id="time" class="variables"></div>

    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var articles = /*[[${articles}]]*/ null;
        if (articles.length == 0)
            alert(articles.length);
        else makeChart(articles);
        /*]]>*/
    </script>

</body>

</html>