<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="../static/css/mystyle.css"
          th:href ="@{css/mystyle.css}" rel="stylesheet" media = "screen"/>
    <script src="../static/js/jquery/jquery-3.1.0.min.js"
            th:src="@{js/jquery/jquery-3.1.0.min.js}"></script>
    <script src="../static/js/chart.js"
            th:src="@{js/chart.js}"></script>
</head>

<body>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var articles = /*[[${articles}]]*/ null;
        if (articles.length == 0)
            alert(articles.length);
        else makeChart(articles);
        /*]]>*/
    </script>


</body>

</html>