<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="../static/css/chartstyle.css"
          th:href ="@{css/chartstyle.css}" rel="stylesheet" media = "screen"/>
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="../static/js/chart.js"
            th:src="@{js/chart.js}"></script>
</head>

<body>

    <a href="/"><button id="back">Back</button></a>
    <div th:if="${not #lists.isEmpty(articles)}">

        <div id="wordsChart"></div>
        <div id="articlesChart"></div>
        <div id="source" class="variables"></div><br/>
        <div id="time" class="variables"></div>

    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        var articles = /*[[${articles}]]*/ null;
        if (articles.length == 0) {
            var errDiv = document.createElement('div');
            errDiv.innerHTML = 'Please insert a valid title';
            errDiv.id = 'errDiv';
            document.getElementsByTagName('body')[0].appendChild(errDiv);
        }
        else makeChart(articles);
        /*]]>*/
    </script>

</body>

</html>