<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="../static/css/mestyle.css.css"
    th:href ="@{css/mestyle.css}" rel="stylesheet" media = "screen"/>
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body ng-app="myApp">

    <div th:if="${articles}">
        <div id='dashboard'>
        </div>
        <p th:text="${articles}"/>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data" action="/">
            <table>
                <tr><td>File to upload:</td><td><input type="file" name="fileName" /></td></tr>
                <tr><td></td><td><input type="input" name="articleName" /></td></tr>
                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
            </table>
        </form>
    </div>

</body>

</html>